= link_to "home", "/"
= " > "
= link_to "update budget", "/t/update"

= "Update your budget"

= form_tag({:controller => "budget_history", :action => "update"},:method => "post") do
    = label "budget", "Budget:"
    = text_field_tag "budget", "", {placeholder: "amount (e.g. 100)"}
    %br
    %button.btn.btn-primary{:type => "submit"} Update