= link_to "home", "/"
= " > "
= link_to "show all", "/t/show"

.h1{:style => "font-size:64px; text-align:center;"}
    = "Monthly Budget Archives"

%table.table.table-striped.table-hover
    %thead
        %tr 
            %th Month
            %th Remaining
            %th Budget
    %tbody
        - @months_w_transactions.each do |t|
            %tr
                %td #{t.to_formatted_s(:long)}
                /%td #{@transactions[t].description}
                /%td 
