= link_to "home", "/"
= " > "
= link_to "show all", "/t/show"

.h1{:style => "font-size:64px; text-align:center;"}
    = "Budget Archives"

%table.table.table-striped.table-hover
    %thead
        %tr 
            %th Month
            %th Remaining
            %th Budget
    %tbody
        - @transaction_months.each do |m,b|
            %tr
                %td #{m.to_formatted_s(:long)}
                %td #{number_with_precision(b[0], precision: 2)}
                %td #{number_with_precision(b[1], precision: 2)}
