!!!
%html
    %head
        %title Budgety
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "bootstrap", :media => "all"
        = stylesheet_link_tag "bootstrap-responsive", :media => "all"
        = stylesheet_link_tag "bootstrap-responsive.min", :media => "all"
        = stylesheet_link_tag "bootstrap.min", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags

    %body
        - if flash[:failed_login]
            .alert.alert-error.message
                %a.close{"data-dismiss" => "alert", :style => "font-family: helvetica neue, arial;"} x
                = flash[:failed_login]
        .row-fluid
            .span12
                .container
                    .span3.text-right
                        - unless session[:name].nil?
                            = link_to "Log out", "/logout"
                    =yield 